@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Poppins:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Oxygen Mono", sans-serif;
  background-color: #d6ffda;
}
